<div class="columns is-centered is-mobile">
  <div class="column is-one-third">
    <div class="field">
      <label class="label">Tiết</label>
      <div class="control">
        <div class="select">
          <select required name="session" [(ngModel)]="session.session">
            <option *ngFor="let item of [1,2,3,4,5]" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="field">
      <label class="label">Lớp</label>
      <div class="control">
        <div class="select">
          <select required name="className" [(ngModel)]="session.className">
            <option *ngFor="let item of classes" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-one-third">
    <div class="field">
      <label class="label">Lý do</label>

      <div class="control">
        <div class="select">
          <select required name="reason" [(ngModel)]="session.reason">
            <option *ngFor="let item of reasons" [value]="item">{{item}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">GV dạy thay</label>
  </div>

  <div class="field-body">
    <div class="control is-expanded">
      <div class="select is-fullwidth">
        <select required name="teacherAlternative" [(ngModel)]="session.teacherAlternative">
          <option *ngFor="let item of teacherAlternative" [value]="item.shortName">{{item.name}}-{{item.shortName}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
