<section class="section">
  <div class="container">
    <h1 class="title is-3 has-text-centered">Báo cáo nghỉ, dạy thay</h1>

    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field is-horizontal">
          <div class="field-label">
            <label class="label">Người báo cáo</label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control is-expanded">
                <div class="select is-fullwidth">
                  <select #reportersForm (change)="changeReporter($event.target.value)">
                    <option *ngFor="let item of reporters" [value]="item.shortName">{{item.name}}-{{item.shortName}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="control">
                <button type="button" (click)="changeReporter(reportersForm.value)" class="button is-primary">Choose
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let item of formCount; index as i">
      <h2 class="title is-4 has-text-centered">#{{i + 1}}</h2>
      <app-report-form [teacherAbsent]="teacherAbsent"></app-report-form>
      <hr>
    </ng-container>

    <div class="columns is-centered">
      <button class="button btn-bc is-primary" [class.is-loading]="isLoading" (click)="createReport()">BC</button>
      <button class="button btn-bc" (click)="addTeacher()">Thêm giáo viên</button>
      <button class="button is-danger" (click)="deleteTeacher()">Xóa giáo viên</button>
    </div>
  </div>
</section>
